<h3> My Blogposts </h3>

	<table class='table'>
<tr>
  <th><%= sortable "title" %></th>
  <th></th>

</tr>
<% current_blogger.blogposts.each do |d| %>

<tr>
<td>
<%= link_to d.title,  single_path(:id => d.id)%>
</td>
<td><%= d.author %>
</td>
</tr>

<% end %>
</table>